{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 200,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "trailingComma": "none",
  "useTabs": false
}